@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.centered-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

element.style {
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: var(--Mhs7de);
    font-family: 'Roboto', sans-serif;
    color: var(--YLNNHc);
}
body {
    background: var(--xhUGwc);
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

.left-side, .right-side {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.left-side {
   
}

.right-side {
    
}

.google-logo {
    width: 272px;
    
    
}

.menu-icon {
    width: 2rem;
    height: 2rem;
    
}

.profile-pic {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 100%;
    
}

.search-icon {
    width: 2rem;
    cursor: pointer;
    
    
}


.camera-icon, .mic-icon {
    width: 1.5rem;
    cursor: pointer;
        
}


a {
    text-decoration: none;
    color: black;
    
}

.middle-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1.2rem;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.search-form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe1e5;
    gap: 1rem;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;

}

.search-form label {
    display: none;
}

.search-form input {
    width: 27rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.search-form button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: none;
    font-size: var(--hbmnje);
    font-weight: var(--Oycjt);
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.bottom-section {
    background: #f2f2f2;
    padding: 1rem 1.5rem;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid #dadce0;
}

.bottom-top {
    font-size: 15px;
    color: var(--YLNNHc); 
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dadce0;
}

.bottom-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.bottom-left, .bottom-middle, .bottom-right {
    display: flex;
    gap: 1.5rem;
}

.bottom-left a:hover, .bottom-middle a:hover, .bottom-right a:hover {
    text-decoration: underline;
}